* {
  font-family: 'Acme', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  
  background-color: rgb(0, 45, 94);
  background-size: cover;
  margin: 0 auto;
  color: rgb(179, 182, 217);
}
.scol {

  color:rgb(45, 92, 144);
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1,5rem;
 
}
.air
{
  color: rgba(44, 57, 154, 0.597) ;
  top: 10px;
  left: 10px;
  padding: 0px 10px;
  border:  none ;
  position: absolute;
  text-transform: uppercase;
  text-decoration: solid;
  font-weight: 900;
  font-family: 'Acme', sans-serif;
  font-size: large;
  margin-top: 25px;
  font-size: 2rem;



}


.container {
  background-image: url(image/image.jpeg);
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.header {
  text-align: center;
  background-color:rgb(0, 45, 94);
  color: #fff;
  padding: 20px;
}

.header h1 {
  font-size: 24px;

}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 0px;
  font-size: large;
}
 ul li a{
  text-decoration: none;
  color: rgb(0, 45, 94);
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  flex-direction: column;
 }

.reservation-space {
  text-align: center;
  margin-bottom: 30px;
}

.reservation-space h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.reservation-form {
  display: inline-block;
  text-align: left;
  background-color: rgb(0, 45, 94);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.reservation-form h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.reservation-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.reservation-form select,
.reservation-form input[type="date"],
.reservation-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 45, 94);
  border-radius: 3px;
}

.reservation-form input[type="submit"] {
  background-color: rgb(27, 88, 168) ;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}


.cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}


.city {
  width: 400px;
  margin: 20px;
  text-align: center;
  background-color:#fff;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row;
}

.city img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.city h3 {
  margin: 0;
  font-size: 20px;
  color: rgb(0, 45, 94);
}

.city p {
  margin: 10px 0;
  color: #666
}

footer {
  text-align: center;
  background-color:rgb(0, 45, 94);
  color: #fff;
  padding: 10px;
  margin-top: 30px;
}

footer p {
  margin: 0;
}

